@media screen and (min-width:950px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height: 50vh;
    }
    .pic{
        background-image: url(hero-desktop.jpg);
        height:90vh;
        width:auto;
        background-repeat: no-repeat;
    }
    .rightS{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

}
@media screen and (max-width:950px) {
    .pic{
        background-image: url(./hero-mobile.jpg);
        width:100%;
        height:60vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rightS>*{
        justify-content: center;

    }
    
}
:root{
    box-sizing: border-box;
    --dark:hsl(0, 6%, 24%);
    --pink:hsl(0, 36%, 70%);
    --softRed:hsl(0, 93%, 68%);
    font-family: 'Outfit', sans-serif;
}
*,::before,::after{
    box-sizing: inherit;
}

body
{
    margin: 0 auto 3rem;
    font-family:Arial, Helvetica, sans-serif;
    background-image:Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
}
main{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.rightS{
    justify-content: center;
}

header,.middle{
    padding: 2em;
}
main>.middle{
    margin-top: 3em;
   text-align: center;
}
.middle>*{
    text-align: center;
}
.we{
   color: var(--pink); 
   margin-bottom: -0.5em;
   font-size: 4rem;
}

.comingSoon{
    font-size: 4em;
    letter-spacing: 0.1em;
    color: var(--dark);
    font-weight: 600;
    line-height: 0.1em;
}
.p{
    margin: auto;
    max-width: 480px;
    font-weight:bolder;
    line-height: 1.5em;
    color: var(--pink);
}
#arrow{
  width: 0.8em;
}
.mail{
    margin:  auto;
    display: flex;
    margin:auto ;
}
#email{
    padding:1em;
    border-color:var(--pink);
    border-radius: 30px;
    height: 3.5em;
    background-color: transparent;
    width: 311px;
    position: relative;    
    right: -3em;
}
.mail :hover{
    box-shadow:var(--softRed) 0px 2px 15px;
}




.imgDiv{
    position: relative;
    background-image: linear-gradient(to right,var(--pink),var(--softRed));
    width:4em;
    height: 0.em;
    border-radius:30px;
    display: flex;
    right: 24px;
    height: inherit;
    align-items: center;
    justify-content: center;
}

